@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;700&display=swap");
.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.header__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Pixelify Sans", cursive;
}
.header__title:hover {
  cursor: pointer;
  transform: scale(1.025);
  filter: contrast(1.25);
}
.header__nav .list {
  display: flex;
  gap: 3rem;
}
.header__nav .list__item {
  text-decoration: none;
}
.header__nav .list__item:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #fcc938;
  border-color: #fcc938;
  background-color: transparent;
}
.header__nav .list__item a {
  color: #D0D0D0;
}
.header__nav .list__item a:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #fcc938;
  border-color: #fcc938;
  background-color: transparent;
}
.header button {
  padding: 0.75rem 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #D0D0D0;
  text-transform: uppercase;
  border: #D0D0D0 solid 3px;
  border-radius: 0.5rem;
  background-color: transparent;
}
.header button:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #fcc938;
  border-color: #fcc938;
  background-color: #35154d;
}
.header button a {
  color: #D0D0D0;
}
.header button a:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #fcc938;
  border-color: #fcc938;
  background-color: transparent;
}

.cards_container {
  margin: 5rem 10rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
}
.cards_container .card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #394db5;
  border: transparent solid 3px;
  border-radius: 0.5rem;
  padding: 2rem;
}
.cards_container .card:hover {
  cursor: default;
  transform: scale(1.025);
  filter: contrast(1.25);
}
.cards_container .card__header {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.cards_container .card__text {
  text-align: center;
  line-height: 1.1rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 8rem;
}
.about__header {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.about__paragraph {
  padding: 1rem;
  line-height: 1.25em;
}

.footer {
  display: flex;
  gap: 2rem;
  width: 100vw;
  background-color: #35154d;
  justify-content: center;
  padding: 1.5rem 0;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}
.footer__list__title {
  padding: 0.5rem 0;
  font-weight: 600;
}
.footer__list__item {
  padding: 0.25rem;
  margin-left: 1rem;
}
.footer__list__item a {
  color: #D0D0D0;
}
.footer__list__item a:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #fcc938;
  border-color: #fcc938;
  background-color: transparent;
}

.profiles {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  padding: 2rem 4rem;
}
.profiles .profile {
  display: grid;
  grid-template-columns: auto;
  align-content: start;
  text-align: center;
  background-color: #35154d;
  padding: 1.5rem;
}
.profiles .profile__photo {
  width: 2.5rem;
  border: #222 3 px solid;
  justify-self: center;
  border-radius: 50%;
}
.profiles .profile__photo:hover {
  cursor: default;
  transform: scale(1.025);
  filter: contrast(1.25);
}
.profiles .profile__nick {
  font-size: 2rem;
  font-family: "Pixelify Sans", cursive;
}
.profiles .profile__name {
  font-size: 0.85rem;
  font-style: italic;
}
.profiles .profile__description {
  line-height: 1.25rem;
  padding-top: 1rem;
  text-align: justify;
}
.profiles .profile__github {
  align-self: end;
  justify-self: center;
  margin-top: 2rem;
  padding: 0.5rem 0.75rem;
  width: max-content;
  background-color: #222;
  color: #D0D0D0;
  border: transparent 3px solid;
  display: flex;
  gap: 0.5rem;
}
.profiles .profile__github img {
  height: 1rem;
}
.profiles .profile__github:hover {
  cursor: pointer;
  transform: scale(1.15);
  color: #222;
  border-color: #D0D0D0;
  background-color: #222;
}

* {
  font-family: "Montserrat", sans-serif;
  transition: 300ms;
}

body {
  height: max-content;
  background-image: linear-gradient(to bottom, #512174, #4c1f6c, #461c65, #411a5d, #3c1856, #391955, #351a55, #321b54, #2f2059, #2b245f, #272964, #212d69);
  font-family: "Montserrat", sans-serif;
  color: #D0D0D0;
}
body main {
  min-height: 100vh;
}/*# sourceMappingURL=style.css.map */