@import './components/variables';
@import './components/header';
@import './components/cards';
@import './components/about';
@import './components/footer';
@import './components/quem-somos';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&family=Pixelify+Sans:wght@400;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    transition: 300ms;
}

body {
    height: max-content;
    background-image: $purple-grd;
    font-family: $standard;
    color: $white;

    main {
        min-height: 100vh;
    }
}