.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 8rem;

    &__header {
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem;
    }

    &__paragraph {
        padding: 1rem;
        line-height: 1.25em;
    }
}