// colors
$orange: #ef7d0c;
$yellow: #fcc938;
$translucid-yellow: rgba(252, 201, 56, 50%);
$purple: #512174;
$dark-purple: #35154d;
$light-purple: #8333bf;
$navy: #212d69;
$light-navy: #394db5;
$blue: #0e4cef;
$white: #D0D0D0;
$black: #222;

//gradient
$purple-grd: linear-gradient(to bottom, #512174, #4c1f6c, #461c65, #411a5d, #3c1856, #391955, #351a55, #321b54, #2f2059, #2b245f, #272964, #212d69);

// fonts
$standard: 'Montserrat', sans-serif;
$pixel: 'Pixelify Sans', cursive;

// hover condition
@mixin link-hover ($text-color, $border-color, $bg-color) {
    &:hover {
        cursor: pointer;
        transform: scale(1.15);
        color: $text_color;
        border-color: $border-color;
        background-color: $bg-color;
    }
}

@mixin contrast-hover ($cursor) {
    &:hover {
            cursor: $cursor;
            transform: scale(1.025);
            filter: contrast(1.25);
        }
}

// button
@mixin button-style ($fontfamily, $txt-color, $outline-color, $bg-color) {
        padding: 0.75rem 1.5rem;
        font-family: $fontfamily;
        font-weight: 500;
        font-size: 1.1rem;
        color: $txt-color;
        text-transform: uppercase;
        border: $outline-color solid 3px;
        border-radius: 0.5rem;
        background-color: $bg-color;
    }